{% extends 'network/index.html' %}


{% block explore %}
{% if page == "explore" %}
            <div class="grid grid-cols-3 gap-2 h-full">
                {% for post in posts %}
                  {% if post.content_image %}
                    <div id="post" class=" cursor-pointer bg-gray-400 w-full h-52 [background-image:url('{{ post.content_image.url }}')] bg-cover bg-center " data-postid="{{ post.creater }}" onclick="postpopup({{ post.id }})"></div>
                    {% endif %}
                {% endfor %}
                {% if posts.count == 0 %}
                <div></div>
                {% endif %}
            </div>
            <div class=" hidden w-screen h-screen bg-[rgba(0,0,0,0.4)] backdrop-blur-sm  justify-center items-center fixed inset-0 z-30 " id="explorepreview">
                <!-- here the post preview is inner HTML ed form js -->
            </div>
            <script>
                explorepost = document.querySelector("#explorepreview");
                explorepostcontainer = document.querySelector("#explorepostcontainer")
                function postpopup(post){
                    console.log(post)

                    fetch(`/n/postdetails/${post}`,{
                      method: "POST"
                    }
                    )
                    .then(response => response.json())
                    .then((response) => {
                      console.log(response.content_text)
                      postexplore = `
                          <div class=" absolute right-6 top-6 z-50 cursor-pointer ">
                            <span class="material-symbols-outlined text-white scale-125">close</span>
                          </div>
                            <div class=" bg-white dark:bg-zinc-900 w-4/6 min-w-4/5 h-3/4 flex justify-start  " id="explorepostcontainer">
                              <div class=" w-full h-full overflow-hidden ">
                                <img src="${response.content_image}" alt="" class=" w-full h-full object-cover " >
                              </div>
                              <div class=" p-3  w-2/4 ">
                                  <a href="/profile/${response.username}" class="flex justify-start items-center ">
                                    <div class="h-9 w-9 bg-cover rounded-full inline-block origin-center " style="background-image: url(${response.profile_pic})" ></div>
                                    <div class="px-2 inline-block">
                                      <p class=" font-semibold text-sm dark:text-white text-black ">${ response.full_name } <span>&middot;</span> <span class="dark:text-gray-500 text-sm font-normal ">${ response.branch }</span> </p>
                                    </div>
                                  </a>
                                <div class="text-sm py-4 dark:text-gray-200 text-zinc-600 ">
                                  ${response.content_text}
                                </div>
                              </div>
                            
                            </div>
                          `;
                          explorepost.innerHTML = postexplore;
                          explorepost.classList.remove('hidden');
                          explorepost.classList.add('flex');
                        })
                      }

                      explorepost.addEventListener('click',(e)=>{
                      explorepostcontainer = document.querySelector("#explorepostcontainer")
                        if(!explorepostcontainer.contains(e.target)){
                          explorepost.classList.remove('flex');
                          explorepost.classList.add('hidden');
                        }
                    })
                    //console.log(post.dataset.postid);
                    
            </script>
{% endif %}
{% endblock %}